<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title" data-ng-init="getOfficeEntities()">
    <h1 class="page-header text-overflow">View Office Entities</h1>

    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button">
                    <i class="demo-pli-magnifi-glass"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="#">Forms</a>
    </li>
    <li class="active" data-ng-show="page == 'office-entity-details' || page == 'update-office-entity'">
        <a href="javascript:void(0)" data-ng-click="page = 'view-office-entities'">View Office Entities</a>
    </li>
    <li class="active" data-ng-show="page == 'view-office-entities'">
        View Office Entities
    </li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->




<!--Page content-->
<!--===================================================-->
<div id="page-content" data-ng-show="page == 'view-office-entities'">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">View registered office entities</h3>
                </div>

                <!-- Foo Table - Pagination -->
                <!--===================================================-->
                <div class="panel-body">
                    <table id="demo-foo-pagination" class="table table-hover toggle-arrow-tiny" data-page-size="5">
                        <thead>
                            <tr>
                                <th data-toggle="true">Name</th>
                                <th data-hide="all">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="officeEntity in officeEntities">
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="getOfficeEntityDetails(officeEntity.id)">
                                        <span data-ng-bind="officeEntity.name">
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="deleteOfficeEntity(officeEntity.id)">
                                        <span class="label label-table label-danger">
                                            <i class="fa fa-trash"></i> Delete</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="text-right">
                                        <ul class="pagination"></ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--===================================================-->
                <!-- End Foo Table - Pagination -->

            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<div id="page-content" data-ng-show="page == 'office-entity-details'">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" data-ng-bind="officeEntity.name"></h3>
                </div>

                <!-- Foo Table - Pagination -->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="col-sm-12 col-md-12">

                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-body text-center">
                                <img alt="Profile Picture" class="img-md img-circle mar-btm" src="img/profile-photos/1.png">
                                <p class="text-lg text-semibold mar-no text-main" data-ng-bind="officeEntity.name"></p>
                                <p class="text-muted" data-ng-bind="officeEntity.lead.last_name"></p>
                                <p class="text-sm" data-ng-bind="officeEntity.branch.name"> </p>
                                <p class="text-sm" data-ng-bind="officeEntity.office_entity_type.name"> </p>
                                <button class="btn btn-primary mar-ver" data-ng-click="getUpdatePage()">
                                    <i class="demo-pli-check icon-fw"></i>Update</button>
                                <!-- <ul class="list-unstyled text-center bord-top pad-top mar-no row">
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold text-main">1,345</span>
                                        <p class="text-muted mar-no">Following</p>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold text-main">23K</span>
                                        <p class="text-muted mar-no">Followers</p>
                                    </li>
                                    <li class="col-xs-4">
                                        <span class="text-lg text-semibold text-main">278</span>
                                        <p class="text-muted mar-no">Post</p>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <!--===================================================-->


                    </div>
                </div>
                <!--===================================================-->
                <!-- End Foo Table - Pagination -->

            </div>
        </div>
    </div>
</div>

<!--Page content-->
<!--===================================================-->
<div id="page-content" data-ng-show="page == 'update-office-entity'" data-ng-init="initialize()">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Update new office entity</h3>
                </div>

                <!--Block Styled Form -->
                <!--===================================================-->
                <form>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" data-ng-model="officeEntity.name" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Office Entity Lead</label>
                                    <select name="payer" data-ng-model="officeEntity.lead" id="demo-nav-offcanvas" class="form-control">
                                        <option value="none" selected disabled="disabled">-- Select Mode --</option>
                                        <option value="<% user.id %>" data-ng-repeat="user in users">
                                            <% user.last_name + " " +user.first_name %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Select Branch</label>
                                    <select name="branch_id" data-ng-model="officeEntity.branch" id="demo-nav-offcanvas" class="form-control">
                                        <option value="none" selected disabled="disabled">-- Select Mode --</option>
                                        <option value="<% branch.id%>" data-ng-repeat="branch in branches">
                                            <% branch.name %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Select the type of office entity</label>
                                    <select name="office_entity_type_id" data-ng-model="officeEntity.office_entity_type" id="demo-nav-offcanvas" class="form-control">
                                        <option value="none" selected disabled="disabled">-- Select Mode --</option>
                                        <option value="<% officeEntityType.id%>" data-ng-repeat="officeEntityType in officeEntityTypes">
                                            <% officeEntityType.name %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer text-right">
                        <button class="btn btn-success" data-ng-click="updateOfficeEntity()" type="submit">Update</button>
                    </div>
                </form>
                <!--===================================================-->
                <!--End Block Styled Form -->

            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->