<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title" data-ng-init="getOfficeEntities()">
    <h1 class="page-header text-overflow">New Voucher</h1>

    <!--Searchbox-->
    <!-- <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button">
                    <i class="demo-pli-magnifi-glass"></i>
                </button>
            </span>
        </div>
    </div> -->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
    </li>
    <li class="active">New Voucher</li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->




<!--Page content-->
<!--===================================================-->
<div id="page-content">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Create a new Voucher</h3>
                </div>

                <!--Block Styled Form -->
                <!--===================================================-->
                <form>
                    <div class="panel-body" id="items">
                        <div class="row">
                            <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Voucher Number</label>
                                    <input type="text" data-ng-model="voucher.voucher_number" name="voucher_number" class="form-control" required>
                                </div>
                            </div> -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="demo-nav-offcanvas" data-ng-model="voucher.office_entity_id" name="office_entity_id" class="form-control" required>
                                        <option value="" selected disabled="disabled">-- Select the unit --</option>
                                        <option value="<% officeEntity.id %>" data-ng-repeat="officeEntity in officeEntities">
                                            <% officeEntity.name %>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="description-textarea-input">Description</label>
                                    <textarea id="description-textarea-input" data-ng-model="voucher.description" rows="9" class="form-control" name="description"
                                        placeholder="Your description for this voucher.." required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label" for="reason-textarea-input">Reason</label>
                                    <textarea id="reason-textarea-input" data-ng-model="voucher.reason" rows="9" class="form-control" name="reason" placeholder="Your reason behind this voucher.." required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="item_0">
                        </div>
                    </div>

                    <div class="panel-footer text-right">
                        <div class="col-sm-3">
                            <button class="btn btn-info pull-left" data-ng-click="addItem()" id="add_item">
                                <i class="demo-pli-add"></i> Add Item</button>
                            <button class="btn btn-danger pull-right" data-ng-click="deleteLastItem()" type="button" id="delete_item">
                                <i class="demo-pli-remove"></i> Remove Last Item</button>
                        </div>

                        <button class="btn btn-success" data-ng-click="createVoucher()" type="submit">Submit</button>
                    </div>
                </form>
                <!--===================================================-->
                <!--End Block Styled Form -->

            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<script type="text/javascript">
    
    function removeItem(n) {
        $('#item_' + n).html('');
    }
</script>