<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title" data-ng-init="getVouchers()">
    <h1 class="page-header text-overflow">View Vouchers</h1>

    <!--Searchbox-->
    <div class="searchbox">
        <div class="input-group custom-search-form">
            <input type="text" data-ng-model="searchParam" data-ng-change="searchText()" class="form-control" placeholder="Search..">
            <span class="input-group-btn">
                <button class="text-muted" type="button">
                    <i class="demo-pli-magnifi-glass"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<ol class="breadcrumb">
    <li>
        <a href="#">Home</a>
    </li>
    <li class="active" data-ng-show="page == 'voucher-details' || page == 'update-voucher'">
        <a href="javascript:void(0)" data-ng-click="page = 'view-vouchers'">View Vouchers</a>
    </li>
    <li class="active" data-ng-show="page == 'view-vouchers'">
        View Vouchers
    </li>
</ol>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->




<!--Page content-->
<!--===================================================-->
<div id="page-content" data-ng-show="page == 'view-vouchers'">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">View vouchers that have been created</h3>
                </div>

                <!-- Foo Table - Pagination -->
                <!--===================================================-->
                <div class="panel-body">
                    <table id="demo-foo-pagination" class="table table-hover toggle-arrow-tiny" data-page-size="5">
                        <thead>
                            <tr>
                                <th data-toggle="true">Voucher Number</th>
                                <th>Description</th>
                                <th data-hide="all">Status</th>
                                <th data-hide="all">Reason</th>
                                <!-- <th data-hide="all">Paid</th> -->
                                <th data-hide="all">Time stamp</th>
                                <!-- <th data-hide="all">Actions</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="voucher in vouchers.data">
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="getVoucherDetails(voucher.id)">
                                        <span data-ng-bind="voucher.voucher_number">
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="getVoucherDetails(voucher.id)">
                                        <span data-ng-bind="voucher.description"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="getVoucherDetails(voucher.id)">
                                        <div class="label label-table" data-ng-class="{'label-warning' : voucher.status == 'Waiting', 'label-primary' : voucher.status == 'Paid', 'label-success' : voucher.status == 'Accepted', 'label-danger' : voucher.status == 'Declined'}"
                                            data-ng-bind="voucher.status"></div>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="getVoucherDetails(voucher.id)">
                                        <span data-ng-bind="voucher.reason"></span>
                                    </a>
                                </td>
                                <!-- <td>
                                    <a href="javascript:void(0)" data-ng-click="getVoucherDetails(voucher.id)">
                                        <div class="label label-table" data-ng-class="{'label-success' : voucher.paid, 'label-warning' : !voucher.paid}" data-ng-bind="voucher.paid ? 'Yes' : 'No'"></div>
                                    </a>
                                </td> -->
                                <td>
                                    <a href="javascript:void(0)" data-ng-click="getVoucherDetails(voucher.id)">
                                        <span data-ng-bind="$parent.formatDate(voucher.updated_at)"></span>
                                    </a>
                                </td>
                                <!-- <td> -->
                                <!-- <select name="status" data-ng-model="voucherUpdate.status" data-ng-change="approveVoucher(voucher.id)">
                                        <option value="Accepted" ng-selected="voucher.status == 'Accepted'">Accepted</option>
                                        <option value="Declined" ng-selected="voucher.status == 'Declined'">Declined</option>
                                        <option value="Waiting" ng-selected="voucher.status == 'Waiting'">Waiting</option>
                                    </select> -->
                                <!-- <a href="javascript:void(0)" data-ng-click="deleteVoucher(voucher.id)">
                                        <span class="label label-table label-danger">
                                            <i class="fa fa-trash"></i> Delete</span>
                                    </a> -->
                                <!-- </td> -->
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pull-right">
                                        <ul class="pagination text-nowrap mar-no">
                                            <li class="page-pre" data-ng-class="{'disabled' : !vouchers.prev_page_url}">
                                                <a href="javascript:;" data-ng-click="getPage(vouchers.prev_page_url, -1)">&lt;</a>
                                            </li>
                                            <li class="page-number" data-ng-class="{'active' : pagination.index == $index + 1}" data-ng-repeat="url in pagination.urls">
                                                <a href="javascript:;" data-ng-click="getPage(url, $index + 1)">
                                                    <span>
                                                        <% $index + 1 %>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="page-next" data-ng-class="{'disabled' : !vouchers.next_page_url}">
                                                <a href="javascript:;" data-ng-click="getPage(vouchers.next_page_url, 0)">&gt;</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--===================================================-->
                <!-- End Foo Table - Pagination -->

            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
<div id="page-content" data-ng-show="page == 'voucher-details'">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" data-ng-bind="voucher.voucher_number"></h3>
                </div>

                <!-- Foo Table - Pagination -->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="col-sm-12 col-md-12">

                        <!--Profile Widget-->
                        <!--===================================================-->
                        <div class="panel">
                            <div class="panel-body text-center">
                                <p class="text-lg text-semibold mar-no text-main" data-ng-bind="voucher.voucher_number"></p>
                                <p>Voucher's Creator:
                                    <span style="font-size:13px;" class="label label-default" data-ng-bind="voucher.user.full_name"></span>
                                </p>
                                <p>Voucher Creator's Unit:
                                    <span style="font-size:13px;" class="label label-default" class="text-muted"
                                        data-ng-bind="voucher.office_entity.name"></span>
                                </p>
                                <p>Voucher's Status:
                                    <span style="font-size:13px;" class="label" data-ng-class="{'label-warning' : voucher.status == 'Waiting', 'label-primary' : voucher.status == 'Paid', 'label-success' : voucher.status == 'Accepted', 'label-danger' : voucher.status == 'Declined'}"
                                        data-ng-bind="voucher.status"></span>
                                </p>
                                <p>Voucher's Reason:
                                    <span style="font-size:13px;" class="label label-default" class="text-muted"
                                        data-ng-bind="voucher.reason"></span>
                                </p>
                                <!-- <p class="text-muted" data-ng-bind="voucher.paid ? 'Paid' : 'Not yet paid'"></p> -->
                                <p>Voucher's Description:
                                    <span style="font-size:13px;" class="label label-default" data-ng-bind="voucher.description">
                                    </span>
                                </p>
                                <p>Voucher's Total Price:
                                    <span style="font-size:13px;" class="label label-default" data-ng-bind="voucher.totalPrice">
                                    </span>
                                </p>
                                <div class="text-center">
                                    <button type="button" data-ng-if="voucher.status != 'Accepted'" data-ng-click="approveVoucher(voucher.id, 'Accepted', 'All Vouchers')"
                                        class="btn btn-success">Accept</button>
                                    <button type="button" data-ng-click="approveVoucher(voucher.id, 'Declined', 'All Vouchers')" class="btn btn-danger">Decline</button>
                                    <button type="button" data-ng-if="voucher.status == 'Accepted'" data-ng-click="approveVoucher(voucher.id, 'Paid', 'All Vouchers')"
                                        class="btn btn-primary">Paid</button>
                                </div>
                                <br>
                                <!-- <select name="status" data-ng-model="voucherUpdate.status" data-ng-change="approveVoucher(voucher.id)">
                                    <option value="Accepted" ng-selected="voucher.status == 'Accepted'">Accepted</option>
                                    <option value="Declined" ng-selected="voucher.status == 'Declined'">Declined</option>
                                    <option value="Paid" ng-selected="voucher.status == 'Paid'">Paid</option>
                                    <option value="Waiting" ng-selected="voucher.status == 'Waiting'">Waiting</option>
                                </select> -->
                                <hr>
                                <table id="demo-foo-pagination1" class="table table-hover toggle-arrow-tiny text-left" data-page-size="5">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">Item Name</th>
                                            <th>Item Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="item in voucher.items">
                                            <td>
                                                <span data-ng-bind="item.name"></span>
                                            </td>
                                            <td>
                                                <span data-ng-bind="item.price"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <div class="text-right">
                                                    <ul class="pagination"></ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <!--===================================================-->


                    </div>
                </div>
                <!--===================================================-->
                <!-- End Foo Table - Pagination -->

            </div>
        </div>
    </div>
</div>